.content-container {
	margin: 0 auto;
	padding: 0 $m-size;
	max-width: 110rem;
	overflow: hidden;
}

.content-container__header {
	margin: 0 auto;
	padding: 0 $m-size;
	max-width: 110rem;
	position: fixed;
}
