.footer {
	background: #c3c3c3;
	flex-grow: 0;
	padding: 1em;
	margin-top: auto;
}

.footer__content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: unset;
	width: 100%;
	@media (min-width: $tablet-breakpoint) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.footer__email {
	display: flex;
	width: auto;
	& > a {
		align-self: center;
		color: $off-black;
		font-weight: 400;
	}
	& > span {
		align-self: center;
		color: $off-black;
		font-weight: 300;
	}
}

.footer__social {
	display: flex;
	& > a {
		display: block;
		height: 32px;
		margin: 0.5em;
		width: 32px;
	}
}
