.header {
	background: #111111;
	flex-grow: 0;
	margin-bottom: 0em;
	z-index: 999;
	@media (min-width: $tablet-breakpoint) {
		background: transparent;
		margin-bottom: -5.15em;
	}
}

.header__content {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header__logo {
	align-items: baseline;
	color: $off-white;
	display: flex;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	& > div {
		border-radius: 0.25em;
		font-size: 1.2em;
		font-weight: 400;
		letter-spacing: -0.05em;
		padding: 0em 0.3em 0em 0.25em;
		user-select: none;
		-webkit-user-select: none;
		@media (min-width: $tablet-breakpoint) {
			font-size: 1.8em;
		}
		@media (min-width: $desktop-breakpoint) {
			font-size: 2.4em;
		}
	}
}

.header__nav {
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	font-weight: 300;
	overflow: hidden;
	transition: max-height 0.25s ease-in;
	-webkit-transition: max-height 0.25s ease-in;
	&:hover .header__nav-link {
		color: #999999;
	}
	&.show {
		max-height: 50em;
	}
	@media (max-width: $tablet-breakpoint) {
		flex-basis: 100%;
		flex-direction: column;
		height: auto;
		max-height: 0em;
	}
}

.header__nav-icon {
	cursor: pointer;
	display: block;
	float: right;
	height: 1.4em;
	margin: 1em;
	position: relative;
	width: 1.8em;
	& span {
		background: $off-white;
		border-radius: 0.3em;
		display: block;
		height: 0.25em;
		left: 0;
		opacity: 1;
		position: absolute;
		width: 100%;
		transition: 0.25s ease-in-out;
		-webkit-transition: 0.25s ease-in-out;
		&:nth-child(1) {
			top: 0em;
		}
		&:nth-child(2) {
			top: 0.5em;
		}
		&:nth-child(3) {
			top: 1em;
		}
	}
	&.open span:nth-child(1) {
		top: 0.5em;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	&.open span:nth-child(2) {
		left: -1.8em;
		opacity: 0;
	}
	&.open span:nth-child(3) {
		top: 0.5em;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	@media (min-width: $tablet-breakpoint) {
		display: none;
	}
}

.header__nav-link {
	background: transparent;
	color: $off-white;
	height: auto;
	padding: 1em;
	text-decoration: none;
	width: 100%;
	&:hover {
		color: $off-white !important;
	}
	&.active {
		color: #999999;
	}
	@media (min-width: $tablet-breakpoint) {
		padding: 1.5em;
		width: auto;
	}
	@media (min-width: $desktop-breakpoint) {
		padding: 1.8em;
		width: auto;
	}
}
