.home__blurb {
	align-items: center;
	background: url('/images/sunrise_dark_medium.jpg');
	background-size: cover;
	background-position: center;
	color: $off-white;
	display: flex;
	flex-direction: column;
	height: 90vh;
	padding: 4em 0;
	width: 100vw;
	& > div {
		opacity: 0;
		transition: opacity 1s ease-in;
		-webkit-transition: opacity 1s ease-in;
		&.show {
			opacity: 1;
		}
		&:nth-child(1) {
			font-size: 2.5em;
			font-weight: 100;
			margin-top: 1em;
			@media (min-width: $tablet-breakpoint) {
				font-size: 4em;
			}
		}
		&:nth-child(2) {
			font-size: 1.5em;
			font-weight: 100;
			margin-top: -0.5em;
			@media (min-width: $tablet-breakpoint) {
				font-size: 2.4em;
				margin-top: -0.6em;
			}
		}
		&:nth-child(3) {
			margin-top: auto;
			font-size: 1.5em;
			font-weight: 100;
			@media (min-width: $tablet-breakpoint) {
				font-size: 2.4em;
			}
		}
	}
	@media (min-width: $tablet-breakpoint) {
		height: 100vh;
	}
}
