.portfolio {
	background-color: #dcdcdc;
}

.portfolio__blurb {
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5)),
		url('/images/arcade_medium.jpg');
	background-size: cover;
	background-position: center;
	color: $off-white;
	display: flex;
	flex-direction: row;
	height: 90vh;
	justify-content: center;
	padding: 4em 0;
	width: 100%;
	& > div {
		font-size: 2.4em;
		font-weight: 100;
		@media (min-width: $tablet-breakpoint) {
			font-size: 3em;
		}
	}
	@media (min-width: $tablet-breakpoint) {
		height: 100vh;
	}
}

.portfolio__experience-details {
	overflow: hidden;
	margin-top: -4.8rem;
}

.portfolio__experience-show {
	margin: 0 auto;
	position: relative;
	top: -4.8rem;
	-webkit-user-select: none;
	user-select: none;
	width: auto;
}

.portfolio__item {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	padding: 2rem 0rem;
	width: 100%;
	& > a > img {
		border-radius: 50%;
		margin: 1em;
		max-height: 20rem;
		max-width: 20rem;
		min-height: 20rem;
		min-width: 20rem;
	}
	@media (min-width: $tablet-breakpoint) {
		flex-direction: row;
		font-size: 1.8rem;
	}
}

.portfolio__item-blurb {
	@extend .portfolio__item;
	margin-top: -2rem;
}

.portfolio__item-blurb-content {
	line-height: 1.5em;
	padding-bottom: 2em;
	@media (min-width: $tablet-breakpoint) {
		padding-bottom: unset;
	}
}

.portfolio__item-col {
	@extend .portfolio__item;
	align-items: flex-start;
	@media (min-width: $tablet-breakpoint) {
		flex-direction: column;
	}
}

.portfolio__item-content {
	line-height: 1.5em;
	padding-bottom: 1em;
	@media (min-width: $tablet-breakpoint) {
		padding-bottom: unset;
	}
}

.portfolio__title {
	font-size: 1.8em;
	font-weight: 300;
}

.portfolio__title-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 3em;
	width: 100%;
}

.portfolio__title-underline {
	width: 4em;
	height: 3px;
	background-color: $dark-grey;
}
